<div class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="min-height: calc(100vh - 56px);">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link {% if active_module == 'attendance' %}active{% endif %}" href="/crm/attendance"><i class="bi bi-speedometer2"></i> Attendance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_module == 'dashboard' %}active{% endif %}" href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_module == 'crm' %}active{% endif %}" href="/crm/dashboard"><i class="bi bi-people"></i> CRM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_module == 'wms' %}active{% endif %}" href="#"><i class="bi bi-box-seam"></i> WMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_module == 'sales' %}active{% endif %}" href="#"><i class="bi bi-cart3"></i> Sales</a>
    </li>
  </ul>
</div>
