{% load static %}
<div class="col-xl-3">
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase text-muted mb-0">{{ info.title }}</h5>
          <span class="h2 font-weight-bold mb-0">{{ info.description }}</span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shape bg-gradient-white text-white rounded-circle shadow">
            <img src="{% static info.icon %}" alt="" style="width: 24px; height: 24px;" />
          </div>
        </div>
      </div>
      <p class="mt-3 mb-0 text-sm">
        {% comment %} {% if info.meta %} 
          <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> {{info.icon}} </span>
        {% endif %} {% endcomment %}
        <span class="text-nowrap">{{info.meta}}</span>
      </p>
    </div>
  </div>
</div>
